BMUC_SERVER_PORT=8083
BMUC_CRON_EXPRESSION=*/10 * * * * *


BMUC_BACKEND_API_URL=http://localhost:8081/api/v1
BMUC_BACKEND_BASE_URL=http://localhost:8081


BMUC_FOOTBALL_DATA_URL=https://api.football-data.org
BMUC_FOOTBALL_DATA_API_KEY=a4a69fffc5eefac390e465a9a4ea27e3

# 'google' or 'credentials'
BMUC_AUTH_METHOD=google

BMUC_USER_LOGIN=email@outlook.com
BMUC_USER_PASSWORD=abc123


BMUC_GOOGLE_CLIENT_ID=your-google-client-id
BMUC_GOOGLE_CLIENT_SECRET=your-google-client-secret
BMUC_GOOGLE_REFRESH_TOKEN=your-google-refresh-token
